{% load static %}
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Crimson+Text&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <title>Chelsea's Recipe Box</title>
  </head>
  <body>
    <header>
      <ul>
        <li class="header_link">
          <a href="{% url 'homepage' %}">Home</a>
        </li>
        <li class="header_link">
          <a href="{% url 'addrecipe' %}">Add a recipe</a>
        </li>
        <li class="header_link">
          <a href="{% url 'addauthor' %}">Add an author</a>
        </li>
        {% if user.is_authenticated %}
        <li class="header_link">
          <a href="{% url 'logoutview' %}">Logout</a>
        </li>
        {% else %}
        <li class="header_link"><a href="{% url 'loginview' %}">Login</a></li>
        {% endif %}
      </ul>
    </header>

    {% block content%} {% endblock %}

    <footer>
      <p>Created by Chelsea White</p>
    </footer>
  </body>
</html>
